._icons {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
  ._icons-2 {
    opacity: 0.75;
  }
}
.img {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.a-none a {
  text-decoration: none;
}
.mt-10 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.bi {
  padding-right: 0.75rem;
}
.a-none a,
i {
  color: white;
  opacity: 0.75;
}
.btn {
  &:hover {
    color: white;
  }
}
